@import '~@bsi-cx/design-standard-library-email/styles/styles.scss';

.bsi-header .bsi-cta {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 460px) {
  .bsi-header .bsi-cta {
    display: inline-block !important;
  }
}
.bsi-footer a {
  color: inherit;
  text-decoration: none;
}